<p>register works!</p>
<form [formGroup]="userForm">
  <label>Name:
    <input type="text" formControlName="name">
  </label>
  <label>Email:
    <input type="text" formControlName="email">
  </label>
  <label>Username:
    <input type="text" formControlName="userName">
  </label>
  <label>Password:
    <input type="password" formControlName="password">
  </label>
  <label>Confirm Password:
    <input type="password" formControlName="confirmPassword">
  </label>
</form>
<button class="btn" (click)="register()" >Register</button>
<div *ngIf="dialogOpen">
  <label>Passwords must be atleast 6 characters and matching</label>
</div>
