service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth!=null;
      allow write, create, update, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.administrator == true;
    }
    match /images/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
