<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
<mat-form-field appearance="standard">
  <mat-label>
    Name
  </mat-label>
  <input matInput placeholder="Name" id="name" type="text" formControlName="name">
  <mat-hint>Hint</mat-hint>
</mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>
      Username
    </mat-label>
    <input matInput placeholder="Username" id="username" type="text" formControlName="username">
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>
      Email
    </mat-label>
    <input matInput placeholder="Email" id="email" type="text" formControlName="email">
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>
      Phone
    </mat-label>
    <input matInput placeholder="Phone" id="phone" type="number" formControlName="phone">
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary">Submit</button>



</form>
<button mat-raised-button color="primary" (submit)="login()">Submit</button>

